html{
    background-color: #FDFBEE;
}
body{
    padding-top: 50px;
    background-color: #FDFBEE;
}
h1{
    color: blue;
    font-size: 120px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #321b1b;
    text-align: center;
}
i{
    color: #8FC54F;
    font-size: 130px;
    margin-left: 45%;

}
